atomicwrites==1.4.0
attrs==21.2.0
autopep8==1.5.7
cfgv==3.3.0
colorama==0.4.4
distlib==0.3.2
filelock==3.0.12
identify==2.2.10
iniconfig==1.1.1
nodeenv==1.6.0
packaging==20.9
pluggy==0.13.1
pre-commit==2.13.0
py==1.10.0
pycodestyle==2.7.0
pyparsing==2.4.7
pytest==6.2.4
pytest-mock==3.6.1
PyYAML==5.4.1
six==1.16.0
toml==0.10.2
virtualenv==20.4.7
